<html>
    <head>
        <?php $this->assets->outputCss(); ?>
    </head>
    <body>
        <?php $this->flashSession->output() ?>

        <div>

            <?php echo $this->tag->form("login/index"); ?>

                <p>
                    <label for="email">E-Mail</label>
                    <?php echo $this->tag->textField("email"); ?>
                </p>

                <p>
                    <label for="name">Password</label>
                    <?php echo $this->tag->passwordField(['password']); ?>
                </p>

                <p>
                    <?php echo $this->tag->submitButton("Log In"); ?>
                </p>

            </form>
        </div>

    </body>
</html>
