<html>
    <head>
        <?php $this->assets->outputCss(); ?>
        <?php $this->assets->outputJs(); ?>
    </head>
    <body>
        <a href="<?php echo $this->url->get('logout/index'); ?>">Log out</a>

        <form method="get">

            <p>
                <label for="name">Input text</label>
                <?php echo $this->tag->textField(["text", "value" => $text]); ?> <?php echo $this->tag->submitButton("Search"); ?>
            </p>

        </form>

        <?php if ($showTable) { ?>
        <div style="max-width:600px">
            <table id="myTable" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Address</th>
                        </tr>
                    </thead>
                </table>
                <div style="text-align:center;margin-top:20px;"><button id="btn-load-more" style="display:none">Load More</button></div>
        </div>
        <?php } ?>

        <script>
            $(document).ready( function () {
                let table = $('#myTable').DataTable({
                    "processing": true,
                    "serverSide": true,
                    "ajax": $.fn.dataTable.pageLoadMore({
                        "url": "<?php echo $this->url->get('data/ajax'); ?>",
                        "data": {
                            "text": "<?=$text?>"
                        }
                    }),
                    drawCallback: function(data){
                        if ($('#btn-load-more').is(':visible')) {
                            $('html, body').animate({
                                scrollTop: $('#btn-load-more').offset().top
                            }, 1000);
                        }
                        $('#btn-load-more').toggle(this.api().page.hasMore());

                        $('#btn-load-more').attr('disabled', false);
                    },
                    "searching": false,
                    "ordering": false,
                    "info": false,
                    "bLengthChange": false,
                    "dom": "frt",
                });

                $('#btn-load-more').on('click', function(){
                   table.page.loadMore();
                   $('#btn-load-more').attr('disabled', "disabled");
                });
            });
        </script>
    </body>
</html>
